
@font-face {
    font-family: 'Macondo';
    src: url('../../assets/misc/Macondo-Regular.ttf') format('truetype');
    }

body {
    background-color: #000000;
    color: #d8d8d8;
    font-family: "Macondo", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
}

.subtitle {
    font-size: 18px;
    color: #999999;
    }
    
.imageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
}

button {
    border-radius: 10px;
    background-color: #7c1818;
    color: white;
    border: none;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 24px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    max-width: 400px;
}

select {
    padding: 20px;
    border-radius: 10px;
    font-family: "Macondo", sans-serif;
    font-size: 24px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

#mainMenu {
    display: block;
    background-image: url("../../assets/misc/wallpaper_app.jpg");
    background-position: center;
    background-size: 50% auto;
    background-repeat: no-repeat;
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensure they take the full line */
}

#mainMenu button {
    /* background-color: #7c1818; */
    background-color: rgba(124, 24, 24, 0.95);
    width: 50%;
    max-width: 300px;
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensure they take the full line */
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#mainMenu input {
    font-family: "Macondo", sans-serif;
    font-size: 20px;
    width: 50%; /* Adjust as needed */
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensure they take the full line */
}

#mainMenu label {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center; /* This ensures vertical alignment is centered */
    width: fit-content; /* Adjust the width to fit the content */
    margin: 10px auto; /* Center the label horizontally */
}

#mainMenu label input[type="checkbox"] {
    width: auto; /* Resets the width to default for checkboxes */
    margin: 0 5px; /* Adjusts spacing to the right of the checkbox */
}



#infoButton {
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #4a4949;
    color: white;
    padding: 10px 20px;
    font-size: 26px;
    border: none;
    cursor: pointer;
    width: auto;
    max-width: none;
    border-radius: 50%;
}


h1, button, option {
    font-family: "Macondo", "Arial", sans-serif; /* Added "Macondo" font */
}

/* DECKS */

.deck-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px;
}

.deck-content {
    /* Style for the content area of each deck */
    display: flex; /* Use flex layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    max-height: 50vh; /* Set a maximum height as a percentage of the viewport height */
    max-width: 30vw; /* Set a maximum width as a percentage of the viewport width */
}

.card-img {
    max-width: 50%; /* Ensure the image does not exceed the container width */
    max-height: 100%; /* Ensure the image does not exceed the container height */
    object-fit: contain; /* Scale the image to maintain aspect ratio while fitting within the element's content box */
}

.deck {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    min-width: 150px; /* Adjust as needed */
}

.deck h3 {
    margin-bottom: 10px;
}

#returnButton {
    font-size: 20px;
    width: 25%;
    max-width: 300px;
    margin: 10 auto; /* Center horizontally */
    display: block; /* Ensure they take the full line */
}

.revert-button {
    /* Style for the revert button in each deck */
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    /* Add additional styling as needed */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    color: black; /* Change text color to black */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#selectAll, #unselectAll {
    background-color: #808080; /* Gray background */
    font-size: 18px; /* Adjust font size */
    width: 25%;
}

#confirmObstaculos {
    padding: 20px 40px; /* Keep padding larger */
    font-size: 24px; /* Keep font size larger */
}


@media (max-width: 601px) {
    button {
        width: 50%;
    }

    #mainMenu {
        background-size: 80% auto;
        background-position: center bottom;
        background-attachment: fixed;
    }
    .imageContainer img {
        max-width: 25%; /* Reduce the size to 50% */
    }

    #selectAll, #unselectAll {
        padding: 10px 20px; /* Smaller padding for smaller screens */
        font-size: 16px; /* Smaller font size for smaller screens */
        width: 100%; /* Full width for smaller screens */
        max-width: none; /* Remove max-width for smaller screens */
    }
    #confirmObstaculos {
        padding: 15px 30px; /* Slightly smaller padding for smaller screens */
        font-size: 20px; /* Slightly smaller font size for smaller screens */
    }

    /* Stack containers on top of each other */
    .deck-container {
        flex-direction: column;
        align-items: center;
    }

    /* Set maximum width for stacked containers */
    .deck-content {
        max-width: 100%; /* Full width for stacked containers */
        max-height: none; /* Remove max-height for stacked containers */
    }

    .deck {
        max-width: 100%; /* Full width for stacked containers */
        max-height: none; /* Remove max-height for stacked containers */
    }
    
    #returnButton {
        padding: 10px 20px; /* Adjust padding for smaller screens */
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}