
@font-face {
    font-family: 'Macondo';
    src: url('../../assets/misc/Macondo-Regular.ttf') format('truetype');
    }

body {
    background-color: #000000;
    color: #d8d8d8;
    font-family: "Macondo", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    font-size: 32px;
}

h1 {
    text-align: center;
    font-size: 128px;
    margin-top: 20px;
}

h2 {
    font-size: 64px;
    margin-bottom: 0px;
}
.subtitle {
    font-size: 18px;
    color: #999999;
    }
    
.imageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
}

button {
    border-radius: 10px;
    background-color: #7c1818;
    color: white;
    border: none;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 32px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    max-width: 400px;
}

select {
    padding: 20px;
    border-radius: 10px;
    font-family: "Macondo", sans-serif;
    font-size: 24px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

#mainMenu {
    display: block;
    background-image: url("../../assets/misc/wallpaper_app.jpg");
    background-position: center;
    background-size: 50% auto;
    background-repeat: no-repeat;
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensure they take the full line */
}

#mainMenu button {
    /* background-color: #7c1818; */
    background-color: rgba(124, 24, 24, 0.95);
    width: 50%;
    max-width: 300px;
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensure they take the full line */
}

#mainMenu button:hover,
#mainMenu button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#mainMenu input {
    font-family: "Macondo", sans-serif;
    font-size: 32px;
    width: 50%; /* Adjust as needed */
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensure they take the full line */
}

#mainMenu label {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center; /* This ensures vertical alignment is centered */
    width: fit-content; /* Adjust the width to fit the content */
    margin: 10px auto; /* Center the label horizontally */
}

#mainMenu label input[type="checkbox"] {
    width: auto; /* Resets the width to default for checkboxes */
    margin: 0 5px; /* Adjusts spacing to the right of the checkbox */
}



#infoButton {
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #4a4949;
    color: white;
    padding: 10px 20px;
    font-size: 26px;
    border: none;
    cursor: pointer;
    width: auto;
    max-width: none;
    border-radius: 50%;
}


h1, button, option {
    font-family: "Macondo", "Arial", sans-serif; /* Added "Macondo" font */
}

/* DECKS */

.deck-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px;
}

.deck-content {
    /* Style for the content area of each deck */
    display: flex; /* Use flex layout */
    justify-content: center; /* Center content horizontally */
}

#deckSection .card-img {
    cursor: pointer;
}

.card-img {
    max-width: 75%; /* Ensure the image does not exceed the container width */
    max-height: 100%; /* Ensure the image does not exceed the container height */
    object-fit: contain; /* Scale the image to maintain aspect ratio while fitting within the element's content box */
}

.deck {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    min-width: 150px; /* Adjust as needed */
}

.deck h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

#returnButton {
    font-size: 32px;
    width: 25%;
    max-width: 300px;
    margin: 10 auto; /* Center horizontally */
    display: block; /* Ensure they take the full line */
}

#returnButton:hover,
#returnButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.revert-button {
    /* Style for the revert button in each deck */
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    /* Add additional styling as needed */
}

#mainMenu label {
    font-size: 32px !important;
}

.container {
    display: flex;
    flex-direction: row; /* Display children side by side */
    justify-content: space-between; /* Add spacing between elements */
    flex-wrap: wrap; /* Allow wrapping on smaller screens (cellphone mode) */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    color: black; /* Change text color to black */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#selectAll, #unselectAll {
    background-color: #808080; /* Gray background */
    font-size: 18px; /* Adjust font size */
    width: 25%;
}

#confirmObstaculos {
    padding: 20px 40px; /* Keep padding larger */
    font-size: 24px; /* Keep font size larger */
}


#obstaculosModal {
    font-size: 25px; /* Adjust to the desired font size */
}

#obstaculosModal button {
    font-size: 25px; /* Adjust to the desired font size */
}

.points-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between rows as needed */
    border: 1px solid #ccc;
    width: 50%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.points-row {
    display: grid;
    grid-template-columns: 10fr repeat(2, 1fr) 3fr;
    gap: 5px;
    align-items: center;
    font-size: 32px;
    margin-top: 10px;
}

.points-row label {
    padding: 5px 15px;
    text-align: right;
}

.points-row button {
    text-align: center; /* Center aligns the text for numbers and buttons */
    border-radius: 30px;
    background-color: #938e8e;
    padding: 5px 5px;
    width: 50%;
    max-width: 50px;
    margin-top: 0px;
    margin: 0 auto;
}

.points-row button#setReserva {
    background-color: #a20404;
    border-radius: 5px;
    max-width: 150%;
    font-size: 20px;
}

.points-row span {
    font-weight: bold;
    width: 40px;
    border: 1px solid #ccc;
    padding: 5px;
}
.points-row #pointsHeroes {
    background-color: #4104a2;
}
.points-row #pointsJOA {
    background-color: #4d4953;
}
.points-row #pointsReserva{
    background-color: #a20404;
}


.points-row button:hover,
.points-row button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.game-controls-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust gap between elements */
}

.points-container, .dice-container {
    flex: 1;
    min-width: 300px; /* Adjust based on your design needs */
}


/* dice */

.dice-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #6a6767;
    width: 25%; /* Adjust width as necessary */
    height: 25%; /* Adjust height as necessary, or remove if not needed */
    max-width: 10%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    padding-top: 20px;
    padding-right: 20px;
}

.dice {
    width: 163px; /* Adjust based on layout */
    height: 163px; /* Adjust based on layout */
    background-image: url('../../assets/misc/dice_small.png');
    background-position: 100 100; /* Center the background image in the dice element */
    transition: background-position 0.5s steps(2);
}

#rollButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#rollButton:hover,
#rollButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.played-cards-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.played-card {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.play-card-btn {
    font-size: 20px; /* Makes text much smaller */
    background-color: darkblue; /* Sets the background color to blue */
    color: white; /* Sets the text color to white for contrast */
    cursor: pointer; /* Changes cursor to a pointer on hover */
    border: none; /* Removes the default border */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: rounds the corners */
    margin-top: 5px; /* Space from the counter */
}
.play-card-btn:hover {
    background-color: blue; /* Darker shade on hover for visual feedback */
}

.remove-card-btn {
    width: 20px; /* Much smaller width */
    height: 20px; /* Much smaller height, equal to width to make it circular */
    line-height: 18px; /* Adjust line height to vertically center the "X" */
    font-size: 12px; /* Smaller font size for the "X" */
    border-radius: 50%; /* Makes the button circular */
    position: absolute;
    top: -10px; /* Adjusts position to slightly overlap the top edge of the card */
    right: 45px; /* Adjusts position to slightly overlap the right edge of the card */
    background-color: red;
    color: white;
    border: none;
    cursor: pointer; /* Changes cursor to a pointer on hover */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Removes padding */
}
.remove-card-btn:hover {
    background-color: darkred; /* Darker shade on hover for visual feedback */
}

.return-prev-card-btn {
    background-color: #007bff; /* Blue color for the button */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    margin-top: 5px;
}

.return-prev-card-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.next-card-btn {
    background-color: #007bff; /* Blue color for the button */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    margin-top: 5px;
}

.next-card-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust gap between buttons */
    margin-top: 10px; /* Space from the deck or counter */
}

.return-prev-card-btn, .next-card-btn {
    /* Common styling for buttons, adjust as needed */
    padding: 5px 10px;
    font-size: 16px; /* Adjust size as needed */
    cursor: pointer;
    max-width: 20%
}

.play-card-btn  {
    /* Common styling for buttons, adjust as needed */
    padding: 5px 10px;
    font-size: 16px; /* Adjust size as needed */
    cursor: pointer;
}

@media (max-width: 601px) {
    button {
        width: 50%;
    }

    #mainMenu {
        background-size: 80% auto;
        background-position: center bottom;
        background-attachment: fixed;
    }
    .imageContainer img {
        max-width: 25%; /* Reduce the size to 50% */
    }

    #selectAll, #unselectAll {
        padding: 10px 20px; /* Smaller padding for smaller screens */
        font-size: 16px; /* Smaller font size for smaller screens */
        width: 100%; /* Full width for smaller screens */
        max-width: none; /* Remove max-width for smaller screens */
    }
    #confirmObstaculos {
        padding: 15px 30px; /* Slightly smaller padding for smaller screens */
        font-size: 20px; /* Slightly smaller font size for smaller screens */
    }
    /* Stack containers on top of each other */
    .deck-container {
        flex-direction: column;
        align-items: center;
    }

    /* Set maximum width for stacked containers */
    .deck-content {
        max-width: 100%; /* Full width for stacked containers */
        max-height: none; /* Remove max-height for stacked containers */
    }

    .deck {
        max-width: 100%; /* Full width for stacked containers */
        max-height: none; /* Remove max-height for stacked containers */
    }

    .deck-counter {
        text-align: center;
        margin-top: 10px;
        color: white; /* Adjust based on your design */
        font-size: 16px; /* Adjust based on your design */
    }

    #returnButton {
        padding: 10px 20px; /* Adjust padding for smaller screens */
        font-size: 16px; /* Adjust font size for smaller screens */
    }
 
    .points-row label {
        font-size: 18px;
        text-align: left;
    }
    .points-row span {
        font-size: 18px;
        width: 30px;
    }

    .points-row button {
        font-size: 16px;
        padding: 4px 8px;
        width: 20px;
    }

    .points-container {
        display: flex;
        flex-direction: column;
        gap: 10px; /* Adjust the gap between rows as needed */
        border: 1px solid #ccc;
        width: 90%;
        margin-left: 30px;
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .game-controls-container {
        flex-direction: column;
        align-items: center;
    }

    .points-container, .dice-container {
        width: 90%; /* Adjust to ensure full width on mobile */
        max-width: none; /* Remove max-width restrictions */
    }
    
    .dice-container {
        width: 90%; /* Adjust for full width on mobile */
        margin: 20px auto;
    }
}

@keyframes rollDice {
    from { background-position: 0 0; }
    to { background-position: -4048px 0; } /* Adjust this value */
}